<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Design your taco!</h1>


<html xmlns:th="http://www.thymeleaf.org">
<form th:method="POST" th:object="${design}">
    <span
            th:if="${#fields.hasErrors('ingredients')}"
            th:errors="${'ingredient'}"
    ></span>

    <h1>wrap</h1>
    <div th:each="ingredient: ${wrap}">
        <span th:text="${ingredient.name}">Name</span>
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
    </div>

    <h1>protein</h1>
    <div th:each="ingredient: ${protein}">
        <span th:text="${ingredient.name}">Name</span>
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
    </div>

    <h1>veggies</h1>
    <div th:each="ingredient: ${veggies}">
        <span th:text="${ingredient.name}">Name</span>
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
    </div>

    <h1>cheese</h1>
    <div th:each="ingredient: ${cheese}">
        <span th:text="${ingredient.name}">Name</span>
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
    </div>

    <h1>sauce</h1>
    <div th:each="ingredient: ${sauce}">
        <span th:text="${ingredient.name}">Name</span>
        <input  name="ingredients"type="checkbox" th:value="${ingredient.id}">
    </div>

    <span
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"
    >1213</span>
    <input type="text" th:field="*{name}">
    <button>Press Here</button>
</form>
</html>
</body>
</html>
